.navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: coral;
  text-align: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  a {
    color: #fff;
    text-decoration: none;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: background-color 0.5s;
    cursor: pointer;
    &:hover {
      background-color: darken(coral, 10);
    }
  }
}
